.drum-pad {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 2px solid #6F1AB6;
    outline: none;
    font-family: 'Fredoka One', cursive;
    color: #F3CCFF;
    font-size: 20px;
    background: rgb(255, 255, 208);
    background: radial-gradient(circle, rgba(255, 255, 208, 1) 0%, rgba(165, 85, 236, 1) 98%);
}