.drum-pad {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border: 2px solid #f5d0f8e8;
    outline: none;
    font-weight: 600;
    color: #ce77e9;
    font-size: 20px;
    background: rgb(255, 255, 208);
    background: radial-gradient(circle, rgba(255, 255, 208, 1) 0%, rgba(165, 85, 236, 1) 98%);
}

.drum-pad:hover {
    cursor: pointer;
    color: #f5d0f8e8;
    background: rgb(165, 85, 236);
    background: radial-gradient(circle, rgba(165, 85, 236, 1) 0%, rgba(255, 220, 208, 1) 100%);
}

